<!DOCTYPE html>
<html lang="pt-br">
<head>                                  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro-page</title>
    <link rel="stylesheet" href="static/css/cadastro.css">
</head>
<body>
    <h1>CADASTRO</h1>

    {% if erro %}
    <p style="color: red;">{{ erro }}</p>
    {% endif %}
    <form method="post">
        <div class="cadastro_box">
            <input id="nome" name="nome" placeholder="nome:" type="text" required>
            <input id="senha" name="senha" placeholder="senha:" type="password" minlength="6" required>
            <button type="submit">cadastrar</button>
            <a href={{url_for("rota_login")}} class="linkgg">ja tem uma conta?</a>
        </div>

    </form>
    
</body>
</html>