<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>principal-page</title>
    <link rel="stylesheet" href="static/css/principal.css">
</head>
<body>
    <div class="barra-do-topo">
        <button class="config" onclick="window.open('config', '_self')">=</button>
        <h3 class="user">olá, {{user}}</h3>
    </div>
    
    <main>
        <h1>sem dados.....</h1>
       <a href="/grafico">
            <button class="grafico">grafico</button>
       </a>
    </main>
</body>
</html>